@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Medium.ttf') format('truetype');
  font-weight: '500';
  font-style: normal;
}

@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Book.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'suissentil', sans-serif;
}

html{
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
  /* padding-inline: 5vw; */
  
  overflow-x: hidden;
}

:root{
  --brand-shade: #c7fa9e;
  --neutral-charcol: #191919;
  --neutral-black: black;
  --neutral-white: white;
  --neutral-gray: #282828;
  --neutral-stone: #8C8C8C;
  --neutral-ivory: #f3f4ee;
  --neutral-silver: #e3e3e3;
  --neutral-ash-gray: #606060;
  --neutral-metalic: #303030;

  --title-size:     clamp(3.5rem, 8vw, 5rem);
  --subtitle-size: clamp(0.8rem, 1.8vw, 1.15rem);
  --h2-size: clamp(2.2rem, 3.5vw, 3rem);
  --body-size:      clamp(0.875rem, 1.5vw, 1rem);
  --label-size:     clamp(0.7rem, 1.1vw, 0.8rem);

  --padding-x:      clamp(1.25rem, 5vw, 5rem);
  --padding-top:    clamp(6rem, 12vh, 10rem);
}

.padding-inline{
  padding-inline: 5vw;
}

.cursor-ball{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--brand-shade);
  pointer-events: none;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  transition: transform 0.1s ease-out, width 0.5s ease-out, height 0.5s ease-out;
  will-change: transform, opacity;
}

.cursor-ball i, 
.cursor-ball p{
  display: none;
  font-size: 16px;
}


.cursor-ball.video-hover,
.cursor-ball.work-hover,
.cursor-ball.drag-hover{
  width: 100px;
  height: 100px;
}

.cursor-ball.video-hover .video-icon{
  display: block;
}

.cursor-ball.drag-hover p{
  display: block;
}

.cursor-ball.work-hover .arrow-icon{
  display: block;
  transform: rotate(45deg)
}

.page-transition {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* blank space */
  z-index: 9999;
  transition: bottom 0.6s ease-in;
}

.page-transition.active {
  bottom: 0;
}

@media(max-width:990px){
  .cursor-ball{
    display: none;
  }
}