@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suissentil';
  src: url('../fonts/fonnts.com-Suisse_Intl_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* padding-inline: 5vw; */
  font-family: 'suissentil';
  overflow-x: hidden;
}

.padding-inline{
  padding-inline: 5vw;
}

.cursor-dot{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(226,250,111,1);
  pointer-events: none;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  transition: transform 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out;
  will-change: transform, opacity;
}

.cursor-dot i, 
.cursor-dot p{
  display: none;
  font-size: 16px;
}


.cursor-dot.video-hover,
.cursor-dot.work-hover,
.cursor-dot.drag-hover{
  width: 100px;
  height: 100px;
}

.cursor-dot.video-hover .video-icon{
  display: block;
}

.cursor-dot.drag-hover p{
  display: block;
}

.cursor-dot.work-hover .arrow-icon{
  display: block;
  transform: rotate(45deg)
}