.hero-text-container{
  padding-top: 260px;
  padding-bottom: 70px;

}

.hero-text{
  font-size: 5.23vw;
  font-family: 'Roboto';
  font-weight: 500;
}

.stone-color{
  color: rgb(140, 140, 140);
}

.video-container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
  will-change: transform;
}


.video-container video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;

}

/*Full video modal  */
.video-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.full-video{
  width: 90%;
  max-width: 66vw;
  height: 82vh;
  object-fit: cover;
}


.close-modal{
  position: absolute;
  top: 4.375rem;
  right: 16.5625rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.625rem;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-modal:hover{
  transform: scale(1.2);
}


/* Brand logos */
.padding-div{
  padding: 6.25rem;
}

.logo-strip-container{
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-inline: 3rem;
  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
}
.logo-strip{
  display: flex;
  height: 6.25rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.logo-column{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  transform: translateY(11.9rem);
  animation: scroll-up 4s ease infinite;
}

.logo{
  font-size: 25px;
}

@keyframes scroll-up {
  0%   { transform: translateY(11.9rem); }
  16.66% { transform: translateY(7.4rem); }
  33.33% { transform: translateY(7.4rem); }
  49.99% { transform: translateY(2.5rem); }
  66.66% { transform: translateY(2.5rem); }
  83.33% { transform: translateY(-3rem); }
  100%  { transform: translateY(-3rem); }
}

.delay-1{
  animation-delay: 0s;
}

.delay-2{
  animation-delay: 0.1s;
}

.delay-3{
  animation-delay: 0.2s;
}

.delay-4{
  animation-delay: 0.3s;
}

.delay-5{
  animation-delay: 0.4s;
}


/* About container */

.about-component-container{
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  padding: 12.5rem 0;
}

.about-component{
  font-size: clamp(2rem, 2.1vw, 19rem);
  width: 100%;
  max-width: 48ch;
}

.about-char, .heading-char, .review-char{
  opacity: 0.1;
  font-weight: normal;
  transition: opacity 0.3s ease;
}


.collaborate-link{
  padding-top: 3rem;
  color: black;
  text-decoration: none;
  font-size: clamp(1.3rem, 1vw, 5rem);
  position: relative;
  display: inline-block;
  font-weight: 500;
  overflow: hidden;
}

.collaborate-link::before,
.collaborate-link::after{
  content: '';
  position: absolute;
  height: clamp(0.15rem, 0.15vw, 0.5rem);
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  transform: translateX(0%);
  transition: transform 0.3s ease;
}

.collaborate-link::after{
  transform: translateX(-200%);
  background-color: black;
  z-index: 2;
}

.collaborate-link:hover::before{
  transform: translateX(200%);
}

.collaborate-link:hover::after{
  transform: translateX(0%);
}

.link-logo-span, .booking-link-span{
  display: inline-flex;
  position: relative;
  transition: transform 0.2s ease;
}

.link-logo-span{
  width: clamp(1.25rem, 1.31vw, 3rem);
  height: clamp(1.25rem, 1.31vw, 3rem);
  transition: transform 0.3s ease;
}

.link-logo, .booking-link-icon{
  transform: rotate(45deg);
  font-weight:light;
}

.link-logo{
  font-size: clamp(1.25rem, 1.31vw, 3rem);
}

.link-logo-2, .booking-link-icon2{
  position: absolute;
  transform: rotate(45deg) translate(100%, 300%);
}

.collaborate-link:hover .link-logo-span{
  transform: translate(160%, -265%);
}


/* Stats - container */

.padding-bottom-80{
  padding-bottom: 80px;
}

.stats-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.stats-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba(243,244,238,255);
  border-radius: 0.5rem;
  aspect-ratio: 2/2.5;
}

.stats-heading{
  font-size: clamp(5rem, 5.23vw, 20rem);
  font-weight: 400;
}

.stats-content{
  padding-top: 2rem;
  border-top: 1px solid rgb(226, 226, 226);
  width: 100%;
  max-width: 65ch;
}

.stats-container p{
  font-size: clamp(1.125rem, 1.18vw, 3rem);
}


/* Works done */

.works-section{
  height: 100vh;
  width: 100vw;
  margin-right: -5vw;
  position: relative;
  overflow: hidden;
}

.scroll-wrapper{
  display: flex;
  width: max-content;
  height: 100vh;
  gap: 7.5vw;
  padding: 20px 0;
  padding-right: 150px;
}

.works-container{
  height: 100vh;
  width: 60vw;
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.works-hero-text{
  font-size: clamp(5.1rem, 5.34vw, 15rem);
  font-weight: 500;
  opacity: 0;
  transform: translatey(80px);
}

.work-item-list{
  display: flex;
  height: 100vh;
  gap: 50px;
}

.work-item{
  height: 100vh;
}

.work-item-link{
  height: 100%;
  text-decoration: none;
  color: black;
}

.work-item-img-container{
  height: 85%;
}

.work-item-img{
  height: 100%;
  border-radius: 10px;
}

.work-item-content .title{
  font-size: clamp(1.5625rem, 1.63vw, 4rem);
  padding-top: 10px;
  font-weight: 400;
}

.work-item-category{
  display: flex;
  align-items: center;
  font-size: clamp(1.25rem, 1.3vw, 3rem);
  padding-top: 5px;
  gap: 10px;
}

.work-item-category .dot{
  height: 3px;
  width: 3px;
  background: black;
  border-radius: 5px;
}

.work-book{
  position: relative;
  overflow: hidden;
  background-color: rgba(243,244,238,255);
  height: 85.5vh;
  width: 70vh;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* CSS vars to hold the hover point */
  --mx: 50%;  
  --my: 50%;
}

.work-book-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.work-book-content .heading{
  font-size: 50px;
}

.work-book-content p{
  font-size: 20px;
}

.work-book::before{
  content: '';
  position: absolute;
  top:    var(--my);
  left:   var(--mx);
  background-color: rgba(226,250,111,1);
  border-radius: 50%;
  transform:  translate(-50%, -50%) scale(0);
  width: 0;
  height: 0;
  transition: all 1s ease-out;
  z-index: 0;
}

.work-book:hover::before{
  height: 300%;
  width: 300%;
  transform: translate(-50%, -50%) scale(1);
}


/* services */
.services-section{
  margin-top: 20vw;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.services-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.canvas-wrapper {
  position: relative;
  width: 100vw;
  height: 0vh;
  overflow: hidden; 
  transform-origin: center;
}

.bg-canvas {
  display: block;
  width: 100%;
  height: 100%;
}


.text-container{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-line {
  position: relative;
  /*opacity: 0;*/
}

.text-line span {
  display: inline-block;
  margin: 0 10px;
  font-size: clamp(5.2rem,5.44vw, 20rem);
  font-weight: bold;
  letter-spacing: 02px;
}

.behind {
  color: rgba(255, 255, 255, 0.8);
  z-index: 1; /* Behind rings */
}

.front {
  color: rgba(255, 255, 255, 0.9);
  z-index: 20; /* In front of rings */
}

.from-left{
  transform: translateX(-500px);
  opacity: 0;
}

.from-right{
  transform: translateX(500px);
  opacity: 0;
}

.service-container{
  position: absolute;
  width: 90%;
  margin-left: 5%;
  top: 1%;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem,1.3vw, 4rem);
  overflow: hidden;
}

.service-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  padding: clamp(0.75rem, 2.2vw, 10rem) clamp(0.75rem, 2.2vw, 1rem);
  border-radius: 0.625rem;
  transform: translateY(150rem);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  will-change: transform, opacity;
}

.item-number{
  font-size: clamp(1rem, 1.2vw, 3rem);
  color: rgb(159, 159, 159);
  margin-right: clamp(30px,6vw, 6.5vw);
}

.service-name{
  font-size: clamp(1.125rem, 1.2vw, 3rem);
  margin-right: clamp(10px, 40vw, 45vw);
}

.service-about{
  font-size: clamp(1rem, 1.2vw, 4rem);
}


/* booking */

.booking-section{
  margin-top: 150vh;
}

.booking-inner{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.images-container{
  display: flex;
  gap: 2rem;
}

.images-container .book-image{
  border-radius: 0.5rem;
  width: clamp(15rem, 15.7vw, 500rem);
  height: clamp(20rem,20.9vw, 80rem);
  transform: translateY(100rem);
}

.heading-container{
  width: clamp(47rem, 49.2vw, 150rem);
}

.booking-heading{
  font-size: clamp(3rem,3.14vw, 10rem);
  font-weight: 480;
}

.booking-content{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.book-call-heading{
  font-size: clamp(1rem, 1.05vw, 3rem);
  font-weight: 500;
}

.booking-link-container{
  margin-top: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
}

.booking-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  align-items:center;
}

.user{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-image{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.about-user{
  padding-top: 0.5rem;
  font-size: clamp(1rem, 1.05vw, 3rem);
}

.booking-link-container .booking-button{
  border: 1px solid rgb(222, 222, 222);
  padding: 1rem 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.booking-link:hover .booking-link-span{
  transform: translate(210%, -260%);
}

.booking-button::before{
  content: '';
  background-color: rgba(226,250,111,1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 0.3s ease-out;
}

.booking-link:hover .booking-button::before{
  height: 100%;
}



/* Audit Section */


.audit-section{
  margin-top: 35vh;
}

.audit-link{
  background-color: rgb(23,23,23);
  text-decoration: none;
  color: white;
  overflow: hidden;
  height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.6rem;
  max-width: 100%;
}

.audit-content-container{
  position: absolute;
  top: 25%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  z-index: 2;
}

.audit-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.audit-heading{
  font-size: clamp(2rem, 4.3vw, 10rem);
  width: 60vw;
  font-weight: 480;
  text-align: center;
}

.audit-free{
  padding-bottom: 2px;
  border-bottom: 0.3rem solid white;
}

.audit-context{
  font-size: clamp(1.2rem,1.256vw,3rem);
  width: 30vw;
  text-align: center;
  line-height: clamp(1.875rem, 1.96vw, 4rem);
}

.audit-button{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 20px;
  border-radius: 30px;
}

.pulse-effect{
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(226,250,111,1);
  border-radius: 50%;
  position: relative;
}

.pulse-effect span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: pulse 1s ease-out infinite;

}

@keyframes pulse {
  0%{
    transform: scale(1);
    opacity: 0.8;
  }
  100%{
    transform: scale(3.5);
    opacity: 0;
  }
}

.spots-capacity{
  font-size: clamp(1.125rem, 1.18vw, 2rem)
}



/* Reviews section */
.reviews-section{
  margin-top: 26vh;
}

.review-content-container{
  padding-top: 10vh;
  border-top: 1px solid rgb(222, 222, 222);
}

.review-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-heading{
  font-size: clamp(2rem,3vw,5rem);
  font-weight: 400;
  width: clamp(22rem,45vw,100rem);
}

.slider-buttons{
  display: flex;
  gap:7px
}

.prev-button,
.next-button{
  background-color:white;
  padding: clamp(0.875rem, 0.91vw, 2rem) clamp(1rem, 1vw, 2.5rem);
  border-radius: 50%;
  border: 1px solid rgb(222, 222, 222);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.prev-button::before,
.next-button::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(226,250,111,1);
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.3s ease-out;
}

.prev-button:hover::before,
.next-button:hover::before{
  height: 100%;
}

.review-strip{
  margin-top: 5rem;
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: max-content;
  cursor: grab;
  user-select: none;
}

.review-strip::-webkit-scrollbar {
  display: none;
}

.review-item{
  background-color: #f3f4ee;
  width: clamp(50rem, 52.35vw, 150rem);
  height: clamp(26.25rem, 27.48vw, 80rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
}

.review-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.5rem;  
  opacity: 0.1;
  transition: opacity 0.3s;
}

.review-item.active .review-content{
  opacity: 1;
}

.review-item .user{
  opacity: 0.1;
  transition: opacity 0.3s;
}

.review-item.active .user{
  opacity: 1;
}

.review{
  font-size: clamp(1.2rem, 1.2vw, 4rem);
}

.brand-logo{
  height: clamp(4rem, 4.1vw, 10rem);
}


/* Footer */
footer{
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  gap: 10vw;
  color: white;
  padding-bottom: 1.5rem;
}



.footer-title-wrapper{
  display: block;
  text-decoration: none;
  color:  white;
  font-size: clamp(10rem, 10vw, 25rem);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding-top: 4rem;
}

.scroll-track{
  display: inline-block;
}


.footer-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  padding-bottom: 5rem;
  border-bottom: 1px solid #606060;
}

.footer-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.footer-left-holder{
  width: 100%;
}

.footer-headline-wrap{
  height: 1.5rem;
  margin-bottom: 2rem;
  padding-bottom: clamp(2rem,2vw,5rem);
  border-bottom: 1px solid #606060;
  text-transform: uppercase;
}

.logo-link .logo{
  width: clamp(12.5rem, 12.5vw, 20rem);
}

.footer-link-wrap{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-menu-heading{
  font-size: clamp(1rem, 1vw, 3rem);
}

.footer-link{
  text-decoration: none;
  color: white;
  width: fit-content;
  position: relative;
  overflow: hidden;
  font-size: clamp(1rem, 1vw, 3rem);
}

.footer-link div{
  width:fit-content;
}

.footer-link::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: translateX(-110%);
  transition: transform 0.4s ease;
  
}

.footer-link:hover::before{
  transform: translateX(0%);
}

.footer-call{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-call-heading{
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 1vw, 2rem);
  gap: 0.6rem;
}


.footer-call-heading .title{
  color: rgba(226,250,111,1);
  font-size: clamp(1.35rem, 1.35vw, 3rem);
  font-weight: 400;
}

.button-wrap{
  background-color: #0c0c0c;
  padding: 1rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-container img{
  border-radius: 50%;
}

.user-info{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name-wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 1rem;
}

.designation-wrapper{
  display: flex;
  flex-direction: column;
  height: 1rem;
  overflow: hidden;
  font-size: 0.9rem;
  color: #959595;

}

.button-wrap .booking-button{
  border: 1px solid rgb(222, 222, 222);
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.button-wrap:hover .booking-link-span{
  transform: translate(210%, -260%);
}

.booking-button::before{
  content: '';
  background-color: rgba(226,250,111,1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 0.3s ease-out;
}

.button-wrap:hover .booking-button::before{
  height: 100%;
}

.button-wrap:hover .booking-button{
  color: black;
}

.copyright-container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.875rem, 0.8vw, 2rem);
}

.copyright-container .left-section{
  display: flex;
  gap: 1rem;
}

.copyright-container .right-section{
  display: flex;
  gap: 1rem;
}

.right-section a{
  text-decoration: none;
  color: white;
}

/* --brand--luster: #e2fa6f;
    --neutrals--white: white;
    --neutrals--stone: #959595;
    --neutrals--charcoal: #171717;
    --neutrals--silver: #e3e3e3;
    --neutrals--black: #0c0c0c;
    --brand--haze: #ecefdc;
    --neutrals--ash-gray: #606060;
    --brand--ivory: #f3f4ee;
    --neutrals--metalic: #303030; */
